---
import { IProjectDetails } from "@types";
const { projectDetail } = Astro.props as IProjectDetails;
const { title, description, thumbnail, liveUrl, githubUrl } = projectDetail;
import { Icon } from "astro-icon";
---

<article
  class="w-full max-h-[25rem] overflow-hidden relative group shadow rounded-lg bg-neutral-100 dark:bg-neutral-800 p-4"
>
  <div class="flex justify-between mb-6">
    <a href={liveUrl}>
      <h3 class="text-2xl dark:text-light">
        {title}
      </h3>
    </a>
    {
      githubUrl && (
        <a
          href={githubUrl}
          aria-label={`GitHub link of ${title}`}
          target="_blank"
        >
          <Icon
            pack="mdi"
            name="code"
            size="40"
            class="dark:text-light link hover:scale-110 transition-color transition-transform duration-200"
          />
        </a>
      )
    }
  </div>

  <p class="dark:text-light mb-6">{description}</p>

  <a href={liveUrl}>
    <img
      src={thumbnail}
      class="w-full h-auto"
      loading="lazy"
      width="492"
      height="316"
      alt={title}
    />
  </a>
</article>
